<EiamConfiguration>

<!--EIAM Internal:Configure cyclic buffer-->
<CyclicBuffer size = "500" dump = "false" file = "dump.log" enable = "true" />

<!--Absolute file path for logger configuration, Java use:-file = "eiam.log4j.config" -->
<LoggerConfiguration file="eiam.log4j.config"/>

<!--Absolute folder path for SAF folder where audit files will be stored for processing -->
<Saf directory = "audit" />

<!--Socket timeout in milli seconds. Default value is 2 mins -->
<Network sockettimeout = "120000" />

<SDK type="Java">
	<iTechSDK>	
		<!-- possible values are OFF/ON. This tag is used to override the default initialization. By default it is set to OFF -->
		<FIPSMode>OFF</FIPSMode>
		<JCEProvider></JCEProvider>	
		<Security>
			<!-- possible values are MD5/SHA1/SHA256/SHA384/SHA512 -->
			<digestAlgorithm>MD5</digestAlgorithm>
		</Security>
		<Debug>
			<!-- possible values are severe/warning/info/config/fine/finer/finest/all/off -->
			<logLevel></logLevel>
			<!-- possible values are true/false -->
			<logToFile></logToFile>
			<!-- log file name -->
			<logFile></logFile>
			<!-- log file size in MB (positive integer) -->
			<maxLogSize></maxLogSize>
		</Debug>
	</iTechSDK>
</SDK>

</EiamConfiguration>
